{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron text-center">
        <div class="container">
          <h1 class="display-3">Expanding Horizons</h1>
          <p>Recollections of my experience and pursuits in the field of neuroscience. If you have questions or are interested in colloboration please do not hessitate to contact me.</p>
          <p><a class="btn btn-primary btn-lg" href="/contact" role="button">Contact &raquo;</a></p>
        </div>
      </div>
{% endblock %}